<% if parking.is_active %>
  <%= link_to admins_parking_parking_statuses_path(parking), method: :post, remote: true do %><span class="text-success font-weight-bold">有効</span><% end %>
<% else %>
  <%= link_to admins_parking_parking_statuses_path(parking), method: :delete, remote: true do %><span class="text-secondary font-weight-bold">無効</span><% end %>
<% end %>