<div class="container">
  <div class="row">
    <div class="hometop-line col-12">
     
      <h3>ParkMeを選ぶ理由</h3>
      <div class="row">
        <i class="fas fa-parking fa-2x" style="color: #fdb51c;"></i>
        <h5>oint1</h5>
      </div>
          <p>オンライン完結型レンタルパーキング経営</p>
          <p>ParkMeはオンライン上で完結するレンタルパーキングの運営を行っています。ユーザーはアプリやウェブサイトを通じて駐車場の予約や決済を簡単に行うことができます。時間や手間をかけることなく、スムーズに駐車場を利用できる点が魅力です。</p>
        
      <div class="row">
        <i class="fas fa-parking fa-2x" style="color: #fdb51c;"></i>
        <h5>oint2</h5>
      </div>
          <p>空きスペースの活用</p>
          <p>ParkMeは駐車場の空きスペースを活用することで、駐車場所有者と利用者を結びつけます。これにより、駐車場所有者は空いているスペースを収益化することができ、利用者は必要な場所で手軽に駐車ができるメリットがあります。</p>
        
        <div class="row">
          <i class="fas fa-parking fa-2x" style="color: #fdb51c;"></i>
          <h5>oint3</h5>
        </div>
          <p>操作がシンプルでわかりやすい</p>
          <p>ParkMeのアプリやウェブサイトは使いやすく、操作もシンプルです。ユーザーは直感的に駐車場の検索、予約、決済などを行うことができます。初めて利用する人でも迷うことなく簡単に利用できるため、利便性が高いと言えます。</p>
    </div>
          
    <div class="hometop-line col-12">
      <h3>ParkMeの使い方</h3>
      <div class="row">
        <h5>ste</h5>
          <i class="fas fa-parking fa-2x" style="color: #fdb51c;"></i>
        <h5>1</h5>
      </div>
          <p>駐車場を探す</p>
          
        <div class="row">
          <h5>ste</h5>
            <i class="fas fa-parking fa-2x" style="color: #fdb51c;"></i>
          <h5>2</h5>
        </div>
          <p>決済</p>
          
        <div class="row">
          <h5>ste</h5>
            <i class="fas fa-parking fa-2x" style="color: #fdb51c;"></i>
          <h5>3</h5>
      </div>
          <p>駐車場の利用</p>
    </div>
  </div>
</div>
