<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>ParkMeを選ぶ理由</h3>
        <h5>point1</h5>
          <p>オンライン完結型レンタルパーキング経営</p>
          <p>ParkMeはオンライン上で完結するレンタルパーキングの運営を行っています。ユーザーはアプリやウェブサイトを通じて駐車場の予約や決済を簡単に行うことができます。時間や手間をかけることなく、スムーズに駐車場を利用できる点が魅力です。</p>
        <h5>point2</h5>
          <p>空きスペースの活用</p>
          <p>ParkMeは駐車場の空きスペースを活用することで、駐車場所有者と利用者を結びつけます。これにより、駐車場所有者は空いているスペースを収益化することができ、利用者は必要な場所で手軽に駐車ができるメリットがあります。</p>
        <h5>point3</h5>
          <p>操作がシンプルでわかりやすい</p>
          <p>ParkMeのアプリやウェブサイトは使いやすく、操作もシンプルです。ユーザーは直感的に駐車場の検索、予約、決済などを行うことができます。初めて利用する人でも迷うことなく簡単に利用できるため、利便性が高いと言えます。</p>
          
      <h3>ParkMeの使い方</h3>
        <h5>step1</h5>
          <p>駐車場を探す</p>
        <h5>step2</h5>
          <p>決済</p>
        <h5>step3</h5>
          <p>駐車場の利用</p>
    </div>
  </div>
</div>
