<div class="container sm-mt-5 mb-5" style="height: 600px">
  <div class="row justify-content-center my-5">
    <div class="mt-3">
     <h3> <i class="fas fa-map-marker-alt fa-lg" style="color: #2ab6c0;"></i>
      <i class="fas fa-house-user fa-lg" style="color: #2ab6c0;"></i>
      レンタルありがとうございました
      </h3>
    </div>
  </div>
</div>