<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="col-sm-mb-4"><strong>駐車場一覧</strong></h3>
      <!--検索フォーム-->
      <div><%= render 'searches/search' %></div>
        <% @parkings.each do |parking| %>
          <table class="table table-borderless mb-0">
            <tr class="clickable-row" onclick='window.location="/customers/parkings/<%= parking.id %>"' role="link">
              <td><%= parking.name %></td>
        <% end %>
            </tr>
          </table>
      
      <div class="col mb-10">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=13BRBEDKlYk8c5dm2R4m_ZfvInpEE_Ho&ehbc=2E312F" width="640" height="480"></iframe>
      </div>
    </div>
  </div>
</div>
  