<h1>駐車場一覧</h1>
<!--検索フォーム-->
<div><%= render 'searches/search' %></div>
<table>
  <% @parkings.each do |parking| %>
    <tr>
      <td><%= link_to providers_parking_path(parking.id) do %>
        <%= parking.name %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>