@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';
.back_image {
  background-image: url("../images/city.jpg");
  background-repeat: repeat-x;
  background-size: 20%;
  height: 60px;
}