@import '~bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
.back_image {
  background-image: url("../images/city.jpg");
  background-repeat: repeat-x;
  background-size: 20%;
  height: 60px;
}
.highlighted-row {
background-color: #ffcc00;
}
.pagination {
  justify-content: center;
}
.hometop-line {
  border: solid 4px #008BBB;
  border-radius: 40px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 40px;
  width: auto;
  background: #008BBB;
  font-weight: bold;
  color: InfoBackground;
}
.provover-show-line {
  border: solid 4px #008BBB;
  border-radius: 40px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 40px;
  width: auto;
  background: #008BBB;
  font-weight: bold;
  color: InfoBackground;
}
th {
  background: #008BBB;
}
thead th {
	background-color: #008BBB;
}
.clickable-row {
}
.dotted-border {
  border-width: 5px;
  border-style: dashed;
  border-color: #C0C0C0;
  background-repeat: repeat-x;
  margin-bottom: 30px;
}
.border-line {
  border: 1px solid #C0C0C0;
}
body{
  // display: flex;
  flex-direction: column;
}
footer{
  background: #555555;
  
}