<table class="table table-hover table-inverse">
  <!--検索フォーム-->
  <%= render 'searches/search' %>
  
  <!--検索対象モデルがparkingの時 -->
  <% if @range == "駐車場" %>
    <tbody>
      <% @parkings.each do |parking| %>
        <tr>
          <td>
          <%= link_to rental_path(parking.rental.id) do %>
          <%= parking.name %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがparkingではない時(= 検索対象モデルがcar_modelの時) -->
    <tbody>
      <%# @car_models.each do |car_model| %>
        <tr>
          <td><%#= car_model.name %></td>
        </tr>
      <%# end %>
    </tbody>
  <% end %>
</table>
